html{
    scroll-behavior: smooth;
    width: 100%;
}
header{
    position: sticky;
        top: 0;
        z-index: 999;
}
body{
    
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
    
}
#container{
    width: 100%;
}
#card1 {

    background-color: #00CCB1;
    color: white;
    width: 311.61px;
    height: 345px;
    padding: 32px 32px;
}
#card2 {
    background-color: #3D83DF;
    color: white;
    width: 311.61px; 
    height: 345px;
    padding: 32px 32px;
}
#card3{

    background-color: #1B2734;
    color: white;
    width: 311.61px;
    height: 345px;
    padding: 32px 32px;
    
}#pet-select{
    border: none;
    text-decoration: underline;
    color: white;
    background-color: transparent;
    padding: 0 2em 0 0;
    cursor: pointer;
    height: 40px;
    font-size: 17px;
}
#roww{

    transition: all 5s 4s ease-in;

}

#roww::before{
        content: "";
            display: table;
}
#roww::after{
    content: "";
        display: table;
}
option{
    color: black;
}
.container{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    margin-left: 100px;
}
.items{
    margin-left: 400px;
}
#nav-link:hover{
    color: #16B9A3;
}

.navbar{
    height: 87px;
    position: absolute;
    top: -10px;
    
}
.p-card{
    display: inline;
}
div .card:hover{
        cursor: pointer;
        box-shadow: 0px 5px 20px #b6abab;
}
.statistic{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #DAF7F6;
    
}

#card4{
    width: 248.75px;
    height: 270px;
    
}

#a-btn{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        outline: 0;
        border: 0;
        border-radius: 4px;
        padding: 1.1666666667em 1.5em;
        background: #3d83df;
        font-family: Roboto, Arial, sans-serif;
        line-height: 1em;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.04em;
        font-size: 0.75rem;
        text-align: center;
        text-decoration: none !important;
        text-transform: uppercase;
        transition: all 0.2s ease 0s;
        width: 240px;
        height: 40px;
        margin: 25px 0;
        margin-left: 40%;       
}

.main-footer a{
    text-decoration: none;
}